@import url("https://fonts.googleapis.com/css2?family=Abel&family=Big+Shoulders+Display:wght@200&family=Big+Shoulders+Stencil+Text:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,300&display=swap");

/*
font-family: 'Abel', sans-serif;
font-family: 'Big Shoulders Display', cursive;
font-family: 'Big Shoulders Stencil Text', cursive;
font-family: 'Dosis', sans-serif;
*/

.active {
  background-color: green;
  color: white;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.head {
  color: white;
  text-align: center;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: large;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown-container a {
  font-size: medium;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #4b515d;
}

/* Main content */
.main {
  margin-left: 245px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.sidenav {
  height: 100%;
  width: 245px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1f2833;
  overflow-x: hidden;
  padding-top: 20px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  filter: brightness(20%);
  background-color: white;
}

.logo {
  display: block;
  width: 75%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  font-family: "Big Shoulders Stencil Text", cursive;
  font-size: 30px;
  color: lightcoral;
}

.sub-heading {
  font-family: "Big Shoulders Stencil Text", cursive;
  color: lightcoral;
}

p {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 600;
}

.button {
  padding: 15px 25px;
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: lightcoral;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #3e8e41;
  transition: 0.4s;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

hr {
  border-top: 3px dotted;
  border-bottom: none;
  color: lightcoral;
}

.next {
  float: right;
}

.right {
  float: left;
}

.dropdown-container .activated {
  color: lightgreen;
}

.link {
  color: lightcoral;
  font-style: italic;
  text-decoration: none;
  font-family: "Dosis", sans-serif;
}

li {
  color: white;
}